Problem statement
Sam is making a forest visualizer. An N-dimensional forest is represented by the pattern of size NxN filled with ‘*’.

For every value of ‘N’, help sam to print the corresponding N-dimensional forest.

Example:
Input: ‘N’ = 3

Output: 
* * *
* * *
* * *

In [5]:
n = 5
for y in range(n):
    for x in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P2.png)

In [7]:
n = 5

for y in range(1,n+1):
    for y_ele in range(y):
        print("*",end="")
    print()

*
**
***
****
*****

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P3.png)

In [9]:
n = 5

for y in range(1,n+1):
    for y_ele in range(1,y+1):
        print(str(y_ele),end="")
    print()

1
12
123
1234
12345

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P4.png)

In [10]:
n = 5

for y in range(1,n+1):
    for y_ele in range(y):
        print(str(y),end="")
    print()

1
22
333
4444
55555

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P5.png)

In [16]:
n = 5

for y in range(n,0,-1):
    for y_ele in range(y):
        print("*",end="")
    print()

*****
****
***
**
*

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P7.png)

Sample Input 1:
3
Sample Output 1:
  *
 ***
*****
Explanation Of Sample Input 1 :
The first row contains two spaces, followed by a star.
The second row contains one space, followed by three stars.
The third row contains five stars.

In [27]:
n = 2
empty = n
star_multiplier = 1
for i in range(1,n+1):
    empty-=1
    empt_str = empty * " "
    star_str = star_multiplier * "*"
    print(empt_str + star_str + empt_str)
    star_multiplier+=2

 *
***

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P8.png)

In [29]:
n = 5
empty = 0
star_multiplier = ((n-1)*2)+1
for i in range(1,n+1):
    empt_str = empty * " "
    star_str = star_multiplier * "*"
    print(empt_str + star_str + empt_str)
    star_multiplier-=2
    empty+=1

*********
 *******
  *****
   ***
    *

![alt text](https://static.takeuforward.org/wp/uploads/2022/08/P9.png)

In [31]:
n = 5
empty = n
star_multiplier = 1
for i in range(1,n+1):
    empty-=1
    empt_str = empty * " "
    star_str = star_multiplier * "*"
    print(empt_str + star_str + empt_str)
    star_multiplier+=2

empty = 0
star_multiplier = ((n-1)*2)+1
for i in range(1,n+1):
    empt_str = empty * " "
    star_str = star_multiplier * "*"
    print(empt_str + star_str + empt_str)
    star_multiplier-=2
    empty+=1

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [22]:
caption = "Leetcode daily streak achievedhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh©leetcode"
output = "#leetcodeDailyStreakAchieved"

my_list = caption.split()
cap_out = "#"
for element in my_list:
    cap_element = element.capitalize()
    cap_out += cap_element
if len(cap_out) > 1:
    cap_out = cap_out[1].lower() + cap_out[2:101]
print(cap_out)
print(len(cap_out))

leetcodeDailyStreakAchievedhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
100

In [26]:
n = 12345
count=0
while n > 0:
    n = n//10
    count+=1
    print(n)
print(count)

1234
123
12
1
0
5

In [38]:
def printNums(n):
    if n == 0:
        return
    print(n)
    printNums(n-1)

printNums(10)

10
9
8
7
6
5
4
3
2
1

In [37]:
def printNums(n):
    if n == 0:
        return
    printNums(n-1)
    print(n)
printNums(10)

1
2
3
4
5
6
7
8
9
10

In [43]:
def sumFunctionalwithRecursion(n):
    if n == 0:
        return 1;
    return n * sumFunctionalwithRecursion(n-1)

total = sumFunctionalwithRecursion(3)
print(total)

6

In [40]:
def sum(n,total):
    if n == 0:
        print(total)
        return
    total +=n
    sum(n-1,total)


sum(5,0)

15